<!DOCTYPE>
<html ng-app="bank" ng-controller="controller">
	<head>
		<title>{{config.title}} | {{currentPage.name}}</title>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

		<meta property="og:url" content="http://people.cs.nctu.edu.tw/~ycchen0216023/bank/"/>
		<meta property="og:title" content="404 Not Found Bank"/>
		<meta property="og:description" content="mystery"/>

		<!--jQuery-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
		<!--AngularJS-->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-sanitize.min.js""></script>
		<!--Css-->
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<!--Bank-->
		<script src="js/bank.js"></script>
		<script src="js/controller.js"></script>
	</head>
	<body>
		<nav class="ui fixed grey inverted borderless menu" id="navbar">
			<a class="header item" href="./#!/">{{config.title}} | {{currentPage.name}}</a>
			<div class="right menu">
				<span class="item" ng-repeat-start="info in navInfo" ng-if="!info.href && !info.menu" ng-bind-html="info.name">
					<i class="{{info.icon}} icon" ng-if="info.icon"></i>{{info.name}}
				</span>
				<a class="item" ng-href="{{info.href}}" ng-if="info.href">
					<i class="{{info.icon}} icon" ng-if="info.icon"></i>{{info.name}}
				</a>
				<div class="ui dropdown item" ng-repeat-end ng-if="info.menu" on-finish-render="triggerDropdown">
					<i class="{{info.icon}} icon" ng-if="info.icon"></i>{{info.name}}
					<div class="menu">
						<a class="item" ng-href="{{subInfo.href}}" ng-repeat="subInfo in info.menu">
							{{subInfo.name}}
						</a>
					</div>
				</div>
			</div>
		</nav>
		<div class="container">
			<div ng-view></div>
		</div>
	</body>
	<!--Semantic-->
	<script src="semantic/semantic.min.js"></script>
	<link rel="stylesheet" type="text/css" href="semantic/semantic.min.css">
</html>
